<form id="module-profiles-management-window">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">Create New Module Profile</h2>
	<hr>

	<!------------------------------ Content ------------------------------>
	<label for="moduleProfilesCreateName">Profile Name</label>
	<input type="text" name="moduleProfilesCreateName" id="moduleProfilesCreateName" />
	<!------------------------------ Footer ------------------------------>
	<hr>
	<div class="flexrow">
		<button type="submit" name="submit" id="moduleProfilesCreateNewSubmit"> <!-- TODO - save functionality -->
			<i class="fa fa-check"></i> Create Profile
		</button>
		<button type="submit" name="submit">
			<i class="fa fa-ban"></i> Cancel
		</button>
	</div>
</form>