<form id="module-profiles-view-profile-modules-form">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">Export <b>{{name}}</b></h2>
	<!------------------------------ Content ------------------------------>
	<textarea name="export-module-profile" id="export-module-profile" readonly>{{data}}</textarea>
</form>