<form id="module-profiles-management-window">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">Manage Module Profiles</h2>
	<hr>

	<!------------------------------ Content ------------------------------>
	<div class="flexrow right-aligned">
		<button>
			<i class="fa fa-file-import"></i> Import Profile(s)
		</button>
		<button>
			<i class="fa fa-file-export"></i> Export All Profiles
		</button>
	</div>
	<table id="module-profiles-list">
		<thead>
		<tr class="flexrow">
			<td class="profile-name-column">Profile Name</td>
			<td class="icon-column">Activate</td>
			<td class="icon-column">Edit</td>
			<td class="icon-column">Duplicate</td>
			<td class="icon-column">Export</td>
			<td class="icon-column">Delete</td>
		</tr>
		</thead>
		<tbody>
		{{#each profiles}}
			<tr class="flexrow"> <!-- TODO - highlight active profile -->
				<td class="profile-name-column">{{name}}</td>
				<td class="icon-column"><a class="fa fa-power-off" onclick="game.modules.get('module-profiles').api.activationCallback('{{name}}');"></a></td>
				<td class="icon-column"><a class="fa fa-edit" onclick="game.modules.get('module-profiles').api.editCallback();"></a></td>
				<td class="icon-column"><a class="fa fa-copy"></a></td>
				<td class="icon-column"><a class="fa fa-file-export"></a></td>
				<td class="icon-column"><a class="fa fa-trash" onclick="game.modules.get('module-profiles').api.deleteCallback('{{name}}');"></a></td>
				<!-- TODO - janky as hell -->
				 <!-- TODO - prompt user 'are you sure? any changes made to the current profile will be unsaved ('Don't ask me again' checkbox, can override
				 in settings as well -->
				 <!-- TODO - pop open window to edit name of profile + selected module list -->
				 <!-- TODO - copy module profile, with '(Copy) at the end -->
				 <!-- TODO - export functionality (or just remove it) -->
				 <!-- TODO - 'are you sure?' -->
			</tr>
		{{/each}}
		</tbody>
	</table>
	<div class="flexrow right-aligned">
		<a><i class="fa fa-plus"></i> <b>Add New</b></a>
	</div>

	<!------------------------------ Footer ------------------------------>
	<hr>
	<div class="flexrow">
		<button type="submit" name="submit">
			<i class="fa fa-check"></i> Save Changes
		</button>
		<button type="submit" name="submit">
			<i class="fa fa-ban"></i> Cancel
		</button>
	</div>
</form>