<form id="module-profiles-create-module-profile-form">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">Create New Module Profile</h2>
	<!------------------------------ Content ------------------------------>
	<label for="moduleProfilesCreateNewProfileName">Profile Name</label>
	<input type="text" name="moduleProfilesCreateNewProfileName" id="moduleProfilesCreateNewProfileName" />
	<!------------------------------ Footer ------------------------------>
	<hr>
	<div class="flexrow">
		<button type="submit" name="submit" id="moduleProfilesCreateNewProfileSubmit">
			<i class="fa fa-check"></i> Create Profile
		</button>
		<button type="submit" name="moduleProfilesCancel" id="moduleProfilesCancel">
			<i class="fa fa-ban"></i> Cancel
		</button>
	</div>
</form>