<form id="module-profiles-import-module-profile-form">
	<!------------------------------ Header ------------------------------>
	<h2 class="module-profiles-header">{{localize 'FORM_APPLICATION.import.pasteBelow'}}</h2>
	<!------------------------------ Content ------------------------------>
	<textarea name="import-module-profile-text" id="import-module-profile-text" style="height: 88%"></textarea>
	<!------------------------------ Footer ------------------------------>
	<hr>
	<div class="flexrow">
		<button type="submit" name="submit" id="moduleProfilesImportProfileSubmit">
			<i class="fa fa-check"></i> {{localize 'FORM_APPLICATION.import.importProfiles'}}
		</button>
		<button type="submit" name="moduleProfilesCancel" id="moduleProfilesCancel">
			<i class="fa fa-ban"></i> {{localize 'FORM_APPLICATION.button.cancel'}}
		</button>
	</div>
</form>